<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scoula.place.mapper.PlaceMapper">
    <select id="findAll" resultType="org.scoula.place.vo.PlaceVO">
        SELECT
            p.id,
            p.type,
            p.name,
            p.branch_name AS branchName,
            p.address,
            p.location_detail AS locationDetail,
            p.latitude,
            p.longitude,
            p.business_hours AS businessHours,
            p.holiday_info AS holidayInfo,
            p.phone,
            p.description,

            (
                SELECT pi.image_url
                FROM place_images pi
                WHERE pi.place_id = p.id
                ORDER BY pi.sort_order ASC, pi.id ASC
                LIMIT 1
            ) AS imageUrl

        FROM places p
        ORDER BY p.id
    </select>

    <select id="searchPlaces" resultType="org.scoula.place.vo.PlaceVO">
        SELECT
            p.id,
            p.type,
            p.name,
            p.branch_name AS branchName,
            p.address,
            p.location_detail AS locationDetail,
            p.latitude,
            p.longitude,
            p.business_hours AS businessHours,
            p.holiday_info AS holidayInfo,
            p.phone,
            p.description,
            (
                SELECT pi.image_url
                FROM place_images pi
                WHERE pi.place_id = p.id
                ORDER BY pi.sort_order ASC, pi.id ASC
                LIMIT 1
            ) AS imageUrl
        FROM places p
        WHERE p.name LIKE CONCAT('%', #{keyword}, '%')
           OR p.branch_name LIKE CONCAT('%', #{keyword}, '%')
        ORDER BY p.id
            LIMIT 10
    </select>
</mapper>
